@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.grid-background {
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle,
    #00000080 1px,
    rgba(255, 253, 253, 0.979) 1px
  );
}
